@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.blue {
    color: #6415ff
}

.btn {
    padding: 12px 32px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 500px;
    border: none;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.btn:hover {
  background-color: rgba(80, 17, 204);
}

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    display: inline;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

div {
    display: block;
}

.container {
    padding: 96px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 0px 32px;
}

.section__tag {
    color:#6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-align: center;
}

.section__title {
    align-items: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

#features .section__title, 
#pricing .section__title {
    text-align: center;
}



/* NAV */

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

.nav__links {
    display: flex;
    align-items: center; 
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    padding: 0px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.menu__btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.btn__menu {
    border-color: transparent;
    font-size: 24px;
    text-align: center;
    border: none;
    display: none;
    width: 24px;
    height: 24px;
    color: rgb(36, 62, 99);
}



.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease ;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
    background-color: #242424;
}



/*& LANDING */

header {
    display: flex;
    align-items: center;
    position: relative;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header__description {
    width: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 8px;
}

.header__description--para {
    padding: 32px 0;
}

.email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.email__input {
    width: 100%;
    height: 68px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    border-radius: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    padding: 20px 160px 20px 32px;
}

.header__email--btn {
    z-index: 2;
    height: 80%;
    width: 160px;
    background-color: rgb(100, 21, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    margin: 8px;
    border-radius: 500px;
    border: none;
}

.header__customer--para {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    width: 40%;

}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    width: 100%;
}

.header__img {
    width: 60%;
    max-width: 768px;
}

.customers {
    width: 40%;
    display: flex;
    justify-content: left;
}



/* FEATURES */

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    padding: 32px 24px;
    display: flex;
    align-items: flex-start;
    
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.feature__title {

}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}



/* QUALITY */


#quality .btn {
    max-width: 141.69px;
    margin-top: 32px;
}
#quality .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.quality__img {
    width: 50%;
}

.quality__description {
    width: 50%;
    max-width: 576px;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
}




/* STEPS */

#steps .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.steps {
    width: 50%;
    padding: 32px 0px 32px 64px;
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    margin-top: 32px;
    align-items: flex-start;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    display: flex;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.steps__img {
    width: 50%;
}

.steps__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}




/* VALUES */

.values__description,
.values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.values__list {
    display: flex;
    flex-direction: row;
}

.value {

}

.value__row {
    display: flex;
    flex-direction: row;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}


.value:nth-of-type(2) {
    margin-top: 32px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__title {
    display: flex;
    text-align: center;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}




/* PLANS */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#pricing .section__tag {
    text-align: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.plan__description {
    align-items: center;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    border: 1px solid rgb(229, 231, 235);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(odd) .plan__name, 
.plan:nth-child(odd) .plan__price, 
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan:nth-child(2) .plan__name, 
.plan:nth-child(2) .plan__price, 
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration, 
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}

.plan__name, 
.plan__price, 
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan:nth-child(1) .plan__middle, 
.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__btn {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}




/* TESTIMONIAL */

#testimonials {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonials .row {
    flex-direction: row;
}

#testimonial, .section__para,
#testimonial, .section__tag {
    text-align: left;
}

#testimonials, .section__title {
    margin-top: 16px;
    margin-bottom: 24px;
}

.testimonials__img,
.testimonial {
    width: 40%;
}

.testimonial {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    padding-left: 64px;
    width: 60%;
}

.testimonial__description {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
    font-size: 16px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 16px;
}

.testimonial__para {
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__details {
    text-align: left;
    padding-left: 24px;
}



.testimonial__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    color: rgb(100, 21, 255);
    border-radius: 50%;
    margin: 0 12px;
    border: none;
    font-size: 16px;
    transition: all 300ms ease;
}

.testimonial__button:hover {
  background-color: rgb(229, 231, 235);
}

.testimonial__btns {
    display: flex;
    align-items: center;
}





/*START*/

.start__container {
    width: 100%;
    max-width: 1200px;
    background-color: rgb(100, 21, 255);
    padding: 96px 0;
    border-radius: 8px;
    margin: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.start__row {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px 32px;
    flex-direction: row;
}

.start__title,
.start__btns {
    width: 50%;
}

.start__title {
    color: rgb(247, 250, 252);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    text-align: center;
}

.start__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.start__btn {
    font-weight: 700;
    font-size: 16px;
    color: rgb(247, 250, 252);
    line-height: 1.5;
    z-index: 2;
    padding: 20px 40px;
    border-radius: 500px;
    margin: 1px;
}

.start__btn:nth-child(1) {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 0;
    background: rgb(245, 101, 101);
    transition: 300ms;
    border: none;
}

.start__btn:nth-child(2) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(160, 174, 192);
    border-image: initial;
    background-color: rgb(100, 21, 255);
    transition: 300ms;
}







/*FOOTER*/

footer .container {
    padding: 0px;
}

footer {
    background-color: rgb(100 21 255);
    margin-bottom: -32px;
    position: relative;
    padding: 96px 32px;
    overflow: hidden;
}

.footer__columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -48px;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    min-width: 200px;
}

.footer__column--title {
    font-weight: 700;
    color: rgb(247 250 252);
    line-height: 1.5;
}

.footer__column--link {
    color: rgb(247 250 252);
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}


.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}


.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: rgb(247 250 252);
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05rem;
}

.footer__copyright {
    color: rgb(203, 213, 224);
    font-weight: 500;
    margin: 8px 0;
}

.footer__social--links {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    background: rgb(247, 250, 252);
    border-radius: 50%;
    z-index: 3;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
}

.footer__blob--1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 2;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 2;
    opacity: 0.5;
}






/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {
    .header__email--btn{
        height: 68px;
    }
    .email {
        flex-direction: column;
        height: 150px;
    }
    .menu__btn {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    .section__para {
        font-size: 14px;
    }
    .section__title {
        font-size: 30px;
    }
    .menu__btn,
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #testimonials .section__tag,
    #testimonials .section__title,
    #testimonials .section__para,
    .testimonial__title,
    .testimonial__para,
    #pricing .section__tag,
    #pricing .section__para {
        text-align: center;
    }
    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .testimonial,
    .testimonial__details {
        margin: 0;
        padding: 0;
    }
    .testimonial__img {
        width: 80px;
        height: 80px;
        align-items: center;    
    }
    #pricing .row {
        margin-top: 40px;
    }
    .plans {
        display: flex;
        flex-direction: column;
    }
    .quality__description,
    .quality__img,
    .steps,
    .steps__img,
    .values__description,
    .values__img,
    .testimonial,
    .testimonials__img,
    .header__customer--para,
    .header__email--btn,
    .header__description,
    .feature {
        width: 100%;
    }
    .header__description,
    .plans {
        align-items: center;
    }
    .header__description--para {
        padding: 20px 0;
        font-size: 16px;
    }
    .header__customer--para {
        margin-top: 48px;
    }
    .header__img {
        width: 100%;
        max-width: 512px;
    }
    .feature {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .feature__img--wrapper {
        
    }
    #features .section__para {
        text-align: center;
        max-width: 576px;
        font-size: 14px;
    }
    .quality__description {
        text-align: center;
        align-items: center;
        padding: 0 32px;
    }
    #quality .section__para {
        text-align: center;
        font-size: 14px;
    }
    #quality .btn {
        margin-top: 32px;
    }
    .steps {
        padding: 64px 0;
    }
    #steps .section__title {
        font-size: 30px;
    }
    .steps__description {
        margin: 12px;
        margin-bottom: 0;
    }
    .step,
    .steps__description,
    #steps .section__tag,
    #steps .section__title,
    #steps .section__para {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .step__number {
        text-align: center;
    }
    .step {
        flex-direction: column;
    }
    #values .section__para,
    #values .section__tag,
    .value__title,
    .value__para {
            text-align: center;
            justify-content: center;
        }
    .values__description {
        text-align: center;
        align-items: center;
        padding: 0;
        margin-top: 64px;
    }
    #testimonials .section__title {
        font-size: 30px;
    }
    .start__row {
        flex-direction: column;
        gap: 24px;
    }
    .start__title,
    .start__btns {
        width: 100%;
        text-align: center;
    }
    .value__row {
        flex-direction: column-reverse;
    }
    .values__list,
    .start__btns,
    .footer__columns,
    .footer__bottom {
        flex-direction: column;
    }
    .header__customers {
        padding: 0;
    }
    .footer__logo,
    .footer__copyright {
        margin-bottom: 16px;
    }
    h1 {
        font-size: 30px;
    }
    .section__title {
        font-size: 36px;
    }
    .steps__img {
        margin-bottom: 16px;
    }
    .testimonial__rating {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plan {
        margin-right: 0;
    }
    .footer__column {
        align-items: center;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}